* {
    margin: 0;
}

body {
    background-image: linear-gradient(to right, #dcedc8, #c5e1a5, #aed581);
	font-family: 'Plus Jakarta Sans';
}

h1,
h2 {
    font-family: Oswald;
    font-weight: 400;
	margin-bottom: 0.75rem;
	text-align: center;
}

section {
    position: relative;
}

.hide {
	display: none;
}

.text-green {
	color: #2e8b57;
}

.text-blue {
	color: #4169e1;
}

.text-red {
	color: #800000;
}

.wrapper {
	background-color: #fff;
	margin: 1.5rem auto;
	max-width: 600px;
	padding: 1.5rem;
}

.header {
    border-bottom: medium dashed forestgreen;
    color: forestgreen;
    margin-bottom: 1.5rem;
}

.search-label-switch-container {
	display: flex;
    align-items: center;
	position: absolute;
    top: 3px;
    right: 0;
}

.search-label {
	color: #808080;
    cursor: pointer;
	margin-right: 4px;
}

.toggle-switch {
	display: inline-block;
    height: 30px;
	position: relative;
	width: 60px;
}

.toggle-checkbox {
    height: 0;
	opacity: 0;
    width: 0;
}

.slider {
    background-color: #808080;
	cursor: pointer;
    position: absolute;
	inset: 0;
	transition: background-color 0.5s;
}

.toggle-checkbox:checked + .slider {
    background-color: #228b22;
}

.slider::before {
    background-color: #ffffff;
	content: "";
	height: 24px;
    position: absolute;
    top: 3px;
    left: 3px;
	transition: transform 0.5s;
    width: 27px;
}

.toggle-checkbox:checked + .slider::before {
    transform: translateX(27px);
}

.task-input,
.task-search {
    border: thin solid #bbb;
	box-sizing: border-box;
    font-family: 'Plus Jakarta Sans';
	font-size: 1rem;
	padding: 0.75rem;
	transition: border-color 0.5s;
    width: 100%;
}

.task-search {
	margin-bottom: 0.75rem;
}

.task-input:focus,
.task-search:focus {
    outline: thin solid forestgreen;
}

.task-input:hover,
.task-search:hover {
	border-color: forestgreen;
}

.task-list {
    list-style-type: none;
	margin-top: 1.5rem;
    padding-left: 0;
}

.task-item {
	background-color: #dcedc8;
	border-left: medium solid forestgreen;
    margin-bottom: 1rem;
    padding: 0.75rem 5rem 0.75rem 1rem;
	position: relative;
}

.task-actions {
	position: absolute;
    top: 50%;
	right: 1rem;
	transform: translateY(-50%);
}

.task-button {
	border-width: 0;
	cursor: pointer;
	font-size: 1.25rem;
	line-height: 1;
	margin-left: 0.25rem;
	transition: background-color 0.5s;
}

.task-edit {
    background-color: #90caf9;
}

.task-edit:hover {
    background-color: #bbdefb;
}

.task-delete {
	background-color: #ef9a9a;
}

.task-delete:hover {
	background-color: #ffcdd2;
}

.footer {
	border-top: medium dashed forestgreen;
    margin-top: 1.5rem;
    padding-top: 0.75rem;
    text-align: center;
}

.task-toast {
    background-color: white;
	border: 2px solid;
    padding: 0.5rem 1rem;
    position: fixed;
    right: 1rem;
	bottom: -3rem;
	transition: bottom 0.5s;
}

@media screen and (max-width: 700px) {
	.wrapper {
		margin: 1.5rem;
	}
}